### IntelliJ IDEA ###
out/
!Testing-JUnit/Signum/main/**/out/
!Testing-JUnit/Signum/test/**/out/

### Eclipse ###
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
!Testing-JUnit/Signum/main/**/bin/
!Testing-JUnit/Signum/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/classes/
